a:hover{
  text-decoration: none;
}

.logo a{
  color: black;
}

.title {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.middle{
    text-align: center;
}

.header{
    min-height: 80px;
}

.intro{
    padding: 0px 50px;  
}

.intro p{
    /*width: 300px;*/
    margin-top: 20px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color: #7f8c8d;
    border-top-width: 1px;
}

.picture_intro{
  margin: 20px 0px;
}

html, body{
  height: 100%;
  overflow: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 1px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(145, 138, 138, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

#navbar{
  padding: 0;
  height: 100%;
  /*background-color: #e74c3c;*/
}

#navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li{
  text-align: center;
  padding: 10px 20px;
}

#navbar li a{
  /*color: #ecf0f1;*/
  color: black;
  font-size: 16px;
  text-decoration: none;
}

#navbar li:hover{
  background-color: #c0392b;
}

#navbar .logo{
  background-color: white;
  text-align: center;
  font-size: 20px;
  padding: 40px 10px;
}

.wm1{
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  *writing-mode: tb-lr;/* IE 写法 */
  unicode-bidi : bidi-override;
}

.product-item{
  padding: 40px 0;
}

.product-img{
  border-radius: 50%;
}

#detail .name{
  font-size: 17px;
  font-weight: bold;
}

#detail .product-img{
  text-align: center;
}

#detail .product-img img{
  display: inline;
}