{% extends "layout.html" %}

{% block left %}
<h2 class="title"><span>今日推荐<span></h2>
<div class="">
  {% for product in products %}
  <div class="product-item">
    <a href="{% url 'products_show' product.id|title %}" name="product-show">
      <img alt="" class="product-img center-block" src="{{ product.images }}" width="274">
    </a>
    <!-- <h3 class="middle">{{ product.name }}</h3> -->
<!--     <div class="middle">
      <span class="label label-warning">{{ product.category }}</span>
    </div> -->
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block right %}
<div class="header"></div>
<div class="center-block" id="detail">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active product-img">
        <img src="{{ product.images }}" alt="..." data="product-images" width="360" height="360">
      </div>
      <div class="item product-img">
        <img src="{{ product.images }}" alt="..." data="product-images" width="360" height="360">
      </div>
      <div class="item product-img">
        <img src="{{ product.images }}" alt="..." data="product-images" width="360" height="360">
      </div>
    </div>
  </div>
  <h3 class="middle name" data="product-name">{{ product.name }}</h3>
  <div class="middle">
    ￥<span data="product-price">{{ product.price }}</span>
    <a href="{{ product.buy_url }}" class="btn btn-success">去淘宝购买</a>
  </div>
  <div class="intro">
    <p data="product-intro">{{ product.desc }}</p>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function(){
    $('a[name="product-show"]').click(function(){
      var url = $(this).attr('href')
      $.get(url, function(data){
        $('h3[data="product-name"]').text(data.name)
        $('img[data="product-images"]').attr('src', data.images)
        $('span[data="product-price"]').text(data.price)
        $('p[data="product-intro"]').text(data.desc)
      })
      return false
    })
  })
</script>
{% endblock %}