{% extends "layout.html" %}

{% block left %}
<h2 class="title">今日推荐</h2>
<h1 class="title">Top 50 商品</h1>
<ul class="list-group">
  {% for product in products %}
  <li class="list-group-item">
    <a href="{% url 'products_show' product.id|title %}">
      <img alt="" class="placeimg center-block" src="{{ product.images }}" width="274">
    </a>
    <h3 class="middle">{{ product.name }}</h3>
    <h5 class="middle">1900 Broadway, New York, NY</h5>
    <div class="middle">
      <span class="label label-warning">{{ product.category }}</span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block right %}
<div class="header"></div>
<div class="center-block">
  <img alt="" class="placeimg center-block" src="{{ product.images }}" width="274">
  <h3 class="middle">{{ product.name }}</h3>
  <h5 class="middle">1900 BROADWAY, NEW YORK, NY</h5>
  <div class="middle picture_intro">
    <img alt="COZY" class="vibesimg" src="http://www.triplagent.com/uploads/production/vibe/image_2x/e88786a51383062005.8016055.png" width="95">
    <img alt="FRESH" class="vibesimg" src="http://www.triplagent.com/uploads/production/vibe/image_2x/59b5fd081383062969.4116983.png" width="95">
    <img alt="BAD ASS" class="vibesimg" src="http://www.triplagent.com/uploads/production/vibe/image_2x/0cc2846d1383062707.4013083.png" width="95">
  </div>
  <p class="center-block middle intro">{{ product.desc }}</p>
</div>
{% endblock %}