{% extends "layout.html" %}

{% block left %}
<h2 class="title"><span>今日推荐<span></h2>
<div class="">
  {% for product in products %}
  <div class="product-item">
    <a href="{% url 'products_show' product.id|title %}" name="product-show">
      <img alt="" class="product-img center-block" src="{{ product.images.0 }}" width="274">
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block right %}
  <div id="product_detail">
  {% include "products/_detail.html" %}
  </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function(){
    $('a[name="product-show"]').click(function(){
      var url = $(this).attr('href')
      $.get(url, function(data){
        $("#product_detail").html(data)
      })
      return false
    })

  })
</script>
{% endblock %}