<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1" id="navbar">
          <div class="logo"><a href="/">美丽小屋</a></div>
          <ul>
            <li><a href="#" title="每日推荐十款商品">推荐</a></li>
            <li><a href="#" title="这是个什么网站？">关于</a></li>
            <!-- <li><a href="#">人物</a></li> -->
          </ul>
        </div>

        <div class="col-md-5" style="height:629px;overflow-y:scroll;" id="left">
          {% block left %}{% endblock %}
        </div>

        <div class="col-md-6" style="height:629px;overflow-y:scroll;" id="right">
          {% block right %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      $(function(){
      })    
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>